footer.footer
    .container.footer-wrapper
        .footer__nav
            ul.footer__nav-item 
                li 
                    img(src=require("../assets/img/logo.svg"), alt="")
                li 
                    article Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды
            ul.footer__nav-item 
                h3 Навигация
                li 
                    a(href="О нас") О нас
                li 
                    a(href="Новости") Новости
                li 
                    a(href="Служба поддержки") Служба поддержки
                li 
                    a(href="Услуги") Услуги
            ul.footer__nav-item 
                h3 О нас
                li 
                    a(href="О сервисе") О сервисе
                li 
                    a(href="Наша команда") Наша команда
                li 
                    a(href="Вакансии") Вакинсии
                li 
                    a(href="Инввесторы") Инвесторы
            ul.footer__nav-item 
                h3 Служба поддержки
                li 
                    a(href="Соглашения") Соглашения
                li 
                    a(href="Сообщества") Сообщества
                li 
                    a(href="Связь с нами") Связь с нами
                li 
                    a(href="Услуги")
            ul.footer__nav-item 
                h3 Подписка
                li 
                    article Получайте специальные предложения и новости сервиса
                li 
                    +input-type-one('', 'Email')       

.footer-2 
    .container.footer-2__wrapper Copyright © 2018 Toxin отель. Все права защищены
        ul.footer-2__links 
            li.footer-2__link 
                a(href="#") li 
            li.footer-2__link 
                a(href="#") li 
            li.footer-2__link 
                a(href="#") li 