
header.header 
    .container.header-wrapper 
        .header__logo 
            img(src=require("../assets/img/logo.svg"), alt="")
        ul.header__nav
            li.header__nav-item
                a(href="#") О нас
            li.header__nav-item 
                +link-list("Услуги", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
            li.header__nav-item 
                a(href="#") Вакансии
            li.header__nav-item 
                a(href="#") Новости
            li.header__nav-item 
                +link-list("Соглашения", "О сервисе", "Наша команда", "Вакансии", "Инвесторы")
            li.header__nav-item 
                +btn_type_one('', 'Войти')
            li.header__nav-item   
                +btn_type_one('btn-type-one--accent', 'Зарегистрироваться')