@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/opensans-semibold-webfont.woff2');
}

body{
    font-family: 'Open Sans';
}


h1{
    color: inherit;

    span{
        color: chocolate;
    }
}
