@import './fonts.scss';

*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.first-screen{
    width: 100%;
    height: 100vh;

    .first-screen__background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);

    transition-duration: .4s;
}
a:hover{
    color: rgba(31,32,62, 1);
}

article{
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

button{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    cursor: pointer;
    transition-duration: .6s;

}
.btn-type-one{
    padding: 8px 19px 9px 19px;
    border: 2px solid;
    border-radius: 22px;
}
.btn-type-one--accent, .btn-type-one:hover{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
}
.btn-type-one--accent:hover{
    color: #BC9CFF;
    background: #fff;
}

.input-type-one{
    box-sizing: i;
    width: 100%;
    padding: 9px 15px 9px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;

    
}
.input-wrapper{
    position: relative;

    &::before{
        position: absolute;
        right: 0;
        top: 0;
        content: url("../assets/img/arrow-right.svg");
        width: 44px;
        text-align: center;
        padding-top: 13px;
    }
}

.link-list{
    position: relative;
    padding-right: 24px;

    ul{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        opacity: 0;
        transition-duration: .6s;

        li{
            padding-top: 10px;
        }
        
    }

    &::before{
        position: absolute;
        right: 0;
        top: 0;
        content: url("../assets/img/arrow-down.svg")  ;
        width: 24px;
        text-align: center;
    }
}
.link-list:hover{
    ul{
        display: block;
        opacity: 1;
    }
}